html{
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #F4F1DE;
    height: 100%;
    align-items: center;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.game-square {
    border: 4px solid #3D405B;
    display: grid;
    place-items: center;
    grid-template: 1fr / 1fr;
    color: #81B29A;
    font-weight: bold;
    font-size: 4em;
    -webkit-text-stroke: #F4F1DE;
    -webkit-text-stroke-width: 3px;
}

.game-board {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    max-width: 30vw;
    min-width: 270px;
    width: 100%;
    height: auto;
    aspect-ratio: 1;
    background-color: #E07A5F;
    border: 8px solid #F2CC8F;
    border-radius: 10px;
}

.game-board > div:nth-child(-n + 3) {
    border-top: 0;
}

.game-board > div:nth-last-child(-n + 3) {
    border-bottom: 0;
}

.game-board > div:nth-child(3n) {
    border-right: 0;
}

.game-board > div:nth-last-child(3n) {
    border-left: 0;
}

.modal-background {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(6px);
    opacity: 100%;
}

.hide-modal-background {
    display: none;
}

.opponent-modal-content,
.marker-modal-content,
.game-over-modal-content {
    color: #E07A5F;
    background-color: #F2CC8F;
    border-radius: 10px;
    margin: 0 auto;
    left: 0;
    right: 0;
    padding: 20px;
    width: 30vw;
    min-width: 250px;
    position: absolute;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    opacity: 0;
    transition: margin 1s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 1s;
}

.show-modal-animation {
    margin: 18% auto;
    opacity: 100%;
}

.hide-modal-animation {
    margin: 70% auto;
    opacity: 0;
}

.button-container {
    display: flex;
    gap: 20px;
}

button {
    background-color: #81B29A;
    border: 4px solid #F4F1DE;
    border-radius: 10px;
    padding: 10px;
    color: #F4F1DE;
    font-weight: bold;
    height: 60px;
    min-width: 60px;
}

button:hover,
.selected-button {
    cursor: pointer;
    box-shadow: 3px 3px #E07A5F;
    scale: 1.1;
}

h1 {
    color: #81B29A;
    text-align: center;
    font-size: 40px;
}

.level-selector-container {
    display: none;
}

.level-selector-container > div:first-child {
    margin-bottom: 10px;
}

.selections {
    display: flex;
    gap: 20px;
}

.selections > div {
    display: flex;
    flex-direction: column;
    gap: 7px;
}



